:root{
    --primary-color: #11121a;
    --hover-color: #272832;
    --accente-color: #0071ff;
    --text-color: #c9c9c9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    scroll-behavior:smooth;
    height: 100vh;
    scroll-snap-type:y mandatory;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

section{
    padding: min(2em,5%);
    height:100vh;
    scroll-snap-align:start;
    background-color: #111111;;
}

#inicio {
  background-image: url('AlegreFit.jpeg'); 
  background-size: cover; 
  /* EL CAMBIO CLAVE: Ajusta el segundo valor (eje Y) entre 30% y 80% 
     para mover la imagen verticalmente y centrar la cara del león */
  background-position: center 90%; 
  background-repeat: no-repeat;
}

main{
    padding: min(5em,7%);
}

main p{
    margin-top: .35em;
}

#redes{
    display: flex;
}

#botonVolumen{
    padding: .02em 1.5em;
    align-items: center;
    transition: background-color 150ms ease;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#botonVolumen:hover{
    color:rgb(255, 166, 0);
}

nav{
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover-color);
    width: 100%;
    height: 8vh;
    background:#111111;
    opacity: 99%;

    position: fixed;
    top: -80px;      /* Oculta la barra fuera de la pantalla */
    right: 0;
    z-index: 1000;
    transition: top .4s ease;
}

nav ul{
    padding-left: 18em;
    align-items: center;
    height: 100%;
    list-style: none;
    display: flex;
}

nav li{
    display: flex;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--text-color);
}

nav a.accent-link{
    background-color: var(--accente-color);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    
}

#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay{
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media (max-width: 700px){
    
    body{
        height: auto;
        background-color: var(--primary-color);
    }

    section{
        margin-top: 0%;
        scroll-snap-align:start;
        background-color: #111111;;
    }

    #botonVolumen{
        display: flex;
    }

    #redes{
        color: #0071ff;
        display: flex;
        flex-direction: row;
        padding-left: 0.3em;
        
    }

    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }
    

    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(20em,100%);
        z-index: 1000;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-in-out;
        
    }

    nav.show ~ #overlay {
        display: block;
    }

    nav.show{
        right: 0;
    }

    nav ul{
        align-items: normal;
        padding-left: 0;
        width: 100%;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        padding-left: 1.5em;
    }

    #inicio {
        z-index: 0;
        background-image: url('AlegreFit.jpeg'); 
        object-fit: cover;
        /* EL CAMBIO CLAVE: Ajusta el segundo valor (eje Y) entre 30% y 80% 
        para mover la imagen verticalmente y centrar la cara del león */
        max-width: 100dvh;
        height: 100dvh;
        aspect-ratio: 16 / 9;
    }

}