:root{
    --primary-color: #11121a;
    --hover-color: #272832;
    --accente-color: #0071ff;
    --text-color: #c9c9c9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    scroll-behavior:smooth;
    scroll-snap-type:y mandatory;
}

body{
    
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

section{
    padding:clamp(1rem,3vw,3rem);
    min-height:100vh;
    height:auto;
    scroll-snap-align:start;
    background-color: #111111;;
}

#inicio {
  background-image: url('AlegreFit.jpeg'); 
  background-size: cover; 
  /* EL CAMBIO CLAVE: Ajusta el segundo valor (eje Y) entre 30% y 80% 
     para mover la imagen verticalmente y centrar la cara del león */
  background-position: center 90%; 
  background-repeat: no-repeat;
}

main{
    padding: min(5em,7%);
}

main p{
    margin-top: .35em;
}

#redes{
    display: flex;
    gap: 15px;
}

#botonVolumen{
    padding: .02em 1.5em;
    align-items: center;
    transition: background-color 150ms ease;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#botonVolumen:hover{
    color:rgb(176, 122, 23);
}

nav{
    
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover-color);
    width: 100%;
    height: 8vh;
    background:#111111;
    opacity: 99%;

    position: fixed;
    top: 0;      /* Oculta la barra fuera de la pantalla */
    right: 0;
    z-index: 1000;
    transition: top .4s ease;
}

nav.nav-hidden{
    top:-80px;
}

nav ul{
    height:100%;
    list-style:none;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:clamp(1rem,3vw,4rem);
}

nav li{
    display: flex;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding:1rem;
    font-size:clamp(.9rem,1.2vw,1.2rem);
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--text-color);
}

nav a.accent-link{
    background-color: var(--accente-color);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay{
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* ---------- PRESENTACIÓN ---------- */

#presentacion{

    display:flex;

    align-items:center;

    gap:clamp(2rem,5vw,6rem);

}


.texto{

    flex:1;

}


.video{

    flex:1;

}

.encabezado h2{
    color:#F5F3EE;
    font-size:clamp(1.8rem, calc(7vh + 1rem), 5rem);
    text-shadow:12px -5px 4px #e6d2b37d;

}

.informacion{
    padding-left: 5%;
    text-align: left;
    width: 100%;
    color:#E6D2B3;
    font-size:clamp(1rem,2vw,2rem);
    line-height:1.3;

}

/* ---------- TARJETA ---------- */

.flip-card{

    width:min(100%,430px);
    max-height:80vh;
    aspect-ratio:9/16;
    margin:auto;
    perspective:1200px;

}

.flip-card-inner{

    position:relative;
    width:100%;
    height:100%;
    transition:transform .8s;

    transform-style:preserve-3d;

}

.flip-card:hover .flip-card-inner{
    transform:rotateY(180deg);
}

.flip-card-front,
.flip-card-back{

    position:absolute;
    inset:0;
    border-radius:25px;
    overflow:hidden;
    backface-visibility:hidden;

}

/* ---------- VIDEO ---------- */

.flip-card-back{
    transform:rotateY(180deg);
}

/* ---------- IMAGEN Y VIDEO ---------- */

.flip-card-front img,
.flip-card-back video{

    width:100%;
    height:100%;
    display:block;
    object-fit:cover;

}

/*-------------------------
    TÍTULO
-------------------------*/

.encabezado{

    margin-bottom:40px;

}

/*-------------------------
    CONTENEDOR TARJETAS
-------------------------*/

.contenedor-cards{
    display:flex;
    border-radius: 20px;
    gap: 10px;
}

h3 span{
    display:block;
    color:#ff9800;

}

.icono {
    color: #ff9800;
    font-size: 42px;
    margin-bottom: 20px;
}

.etiqueta{

    display:inline-block;
    width:max-content;
    background:#ff9800;
    color:black;
    font-weight:bold;
    padding:5px 10px;
    margin-bottom:0px;

}

/*-------------------------
    TARJETAS
-------------------------*/

.card{
    border-radius: 20px;
    flex:1;
    height:clamp(400px,65vh,700px);
    position:relative;
    overflow:hidden;
    
}


.card img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.6s;
}

.card:hover img{
    transform:scale(1.08);

}

.linea{
    width:90px;
    height:3px;
    background:#ff9800;
    margin-bottom:20px;

}

.contenido{
    position:relative;
    padding:10px 10px;
    color:white;
    height:100%;
    font-size:clamp(1rem,2vw,2rem);
    transition: backdrop-filter .4s ease,
                -webkit-backdrop-filter .4s ease,
                background .4s ease;
}

.destacado{
    color: #ffcc00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(1rem,2vw,2rem);
}

.contenido:hover{
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    background: rgba(15,15,15,.12);
    box-shadow: 0 15px 35px rgba(0,0,0,.3);
}

#tituloP{
    margin-top: -50px;
}

.categoria{
    margin-bottom:30px;
}

.categoria-btn,
.pregunta-btn{

    width:100%;
    border:none;
    cursor:pointer;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 25px;

    background:#3a2d24;
    color:#d7a45a;

    border-radius:12px;

    font-size:clamp(.9rem,1.5vw,1.3rem);

}

.pregunta-btn{

    margin-top:15px;
    margin-left:30px;
    width:calc(100% - 30px);

    background:#272727;

}

.preguntas{

    max-height:0;
    overflow:hidden;
    transition:.4s;

}

.categoria.active .preguntas{
    max-height:1000px;
}

.respuesta{

    max-height:0;
    overflow:hidden;
    transition:.3s;

}

.pregunta.active .respuesta{
    max-height:500px;
}

.respuesta p{
    font-size: 20px;
    margin:15px 45px;
    color:white;
    line-height:1.6;

}

footer{
    margin-top: 7%;
    height: fit-content;
    color:white;
}

.linea{
    width:100%;
    height:3px;
    background:#ff9800;

    margin-bottom:40px;

}

.pie{
    padding:0% 3%;
    font-size: 25px;
}

.final{
    align-items: center;
    display: flex;
    gap: 50px;
}

@media(max-width:1100px){


#presentacion{

flex-direction:column;

text-align:center;

}


.texto{

width:90%;

}


.video{

width:90%;

}


.contenedor-cards{

flex-wrap:wrap;

}


.card{

flex-basis:45%;

}


nav ul{

padding-left:0;

}


}

@media (max-width:700px){
/* =====================
   GENERAL
===================== */
html{
    scroll-snap-type:none;
}
section{

    min-height:auto;
    height:auto;

    padding:2rem 1rem;

}

/* =====================
   NAVBAR MÓVIL
===================== */

    nav{
        position: fixed;
        right: -100%;
        height: 100vh;
        width: min(20em,100%);
        z-index: 1000;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-in-out;
        
    }

    nav.show ~ #overlay {
        display: block;
    }

    nav.show{
        right: 0;
    }

    nav ul{
        margin-top: -33%;
        align-items: normal;
        padding-left: 0;
        width: 100%;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        padding-left: 1.5em;
    }

        #botonVolumen{
        display: flex;
    }

    #redes{
        color: #0071ff;
        display: flex;
        flex-direction: row;
        padding-left: 0.3em;
        
    }

    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }



/* =====================
   HERO
===================== */


#inicio{
    width: 100%;
    height: 300px;
    background-position-x:50% ;
    background-position-y:center ;
    background-image: url('prueba2.png'); 

    /* EL CAMBIO CLAVE: Ajusta el segundo valor (eje Y) entre 30% y 80% 
     para mover la imagen verticalmente y centrar la cara del león */

    background-repeat: no-repeat;

}



/* =====================
   PRESENTACION
===================== */


#presentacion{

    display:flex;

    flex-direction:column;

    justify-content:center;

    gap:40px;

}


.texto{

    flex:unset;

    width:100%;

}


.video{

    flex:unset;

    width:100%;

}


.encabezado{

    margin-bottom:20px;

}


.encabezado h2{

    font-size:2.5rem;

}


.informacion{

    padding-left:0;

    font-size:18px;

    line-height:1.6;

}



/* =====================
   TARJETA VIDEO
===================== */


.flip-card{

    width:90%;

    max-width:350px;

}



/* =====================
   SERVICIOS
===================== */


.planes{

    overflow:hidden;

}


.contenedor-cards{

    flex-direction:column;

    gap:25px;

}



.card{

    width:100%;

    height:500px;

}



.contenido{

    font-size:22px;

    padding:20px;
    transition: backdrop-filter .4s ease,
                -webkit-backdrop-filter .4s ease,
                background .4s ease;
                
}

.destacado{
    color: #ffcc00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
}

.contenido:hover{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: rgba(15,15,15,.12);
    box-shadow: 0 15px 35px rgba(0,0,0,.3);
}


.icono{

    font-size:35px;

}



/* =====================
   FAQ
===================== */


.categoria-btn,
.pregunta-btn{


    font-size:16px;

    padding:15px;

}


.pregunta-btn{

    margin-left:10px;

    width:calc(100% - 10px);

}


.respuesta p{

    font-size:16px;

    margin:15px;

}



/* =====================
   FOOTER
===================== */


.final{

    flex-direction:column;

    gap:20px;

    text-align:center;

}


.final img{

    width:90px;

    height:90px;

}


.pie{

    font-size:16px;

}
}